<div class="row my-panel">

    <div class="col-md-4">

        <div class="my-social" @click="callToMe()">
            <img width="48" src="../../assets/img/phone.svg" alt="">
            <span>
                {{ socialLinks[0] }}
            </span>
        </div>

        <br>
        <br>

        <div class="my-social" @click="sendEmail()">
            <img width="48" src="../../assets/img/gmail.svg" alt="">
            <span>
                {{ socialLinks[1] }}
            </span>
        </div>

        <br>
        <br>

        <div class="my-social" @click="onSocialClick('https://www.google.com/maps/place/Semnan,+Semnan+Province/@35.5776545,53.3140732,12z/data=!3m1!4b1!4m5!3m4!1s0x3f9bb3497d92a7b7:0xbdc066f7c9de11ce!8m2!3d35.578797!4d53.3798108')">
            <img width="48" src="../../assets/img/pin.svg" alt="">
            <span>
                {{ socialLinks[2] }}
            </span>
        </div>

        <br>
        <br>

    </div>

    <div class="col-md-4">
        <div class="my-social" @click="onSocialClick(socialLinks[3])">
            <img width="48" src="../../assets/img/stackoverflow.svg" alt="">
            <span>
                {{ socialLinks[3] }}
            </span>
        </div>

        <br>
        <br>

        <div class="my-social" @click="onSocialClick(socialLinks[4])">
            <img width="48" src="../../assets/img/github.svg" alt="">
            <span style="text-align: center">
                {{ socialLinks[4] }}
            </span>
        </div>

        <br>
        <br>

        <div class="my-social" @click="onSocialClick(socialLinks[5])">
            <img width="48" src="../../assets/img/git.svg" alt="">
            <span>
                {{ socialLinks[5] }}
            </span>
        </div>

        <br>
        <br>

    </div>

    <div class="col-md-4">
        <div class="my-social"  @click="onSocialClick(socialLinks[6])">
            <img width="48" src="../../assets/img/skype.svg" alt="">
            <span>
                {{ socialLinks[6] }}
            </span>
        </div>

        <br>
        <br>

        <div class="my-social"  @click="onSocialClick(socialLinks[7])">
            <img width="48" src="../../assets/img/telegram.svg" alt="">
            <span>
                {{ socialLinks[7] }}
            </span>
        </div>

        <br>
        <br>

        <div class="my-social"  @click="onSocialClick(socialLinks[8])">
            <img width="48" src="../../assets/img/instagram.svg" alt="">
            <span>
                {{ socialLinks[8] }}
            </span>
        </div>

        <br>
        <br>

    </div>

</div>