@import "src/styles/variables";
.my-header {
    display: flex;
    justify-content: left;
    background: $light-background;
}
.my-header>* {
    color: black;
    padding: 8px 30px;
    text-decoration: none;
    border-radius: 30px;
    border: 1px solid darkslateblue;
    margin: 5px 8px;
    transition: 0.3s ease;
}
.my-header>*:hover {
    outline: none;
    text-decoration: none;
    padding: 8px 30px;
    background: darkslateblue;
    color: white;
    box-shadow: 0 8px 16px 0 rgba(0.4,0.4,0.4,0.4);
    transition: 0.3s;
}
.router-link-active {
    color: white;
    background: darkslateblue;
    box-shadow: 0 8px 16px 0 rgba(0.4,0.4,0.4,0.4);
}
.router-link-active {

}