<div class="my-panel">

    <div class="android-box row">
        <div class="card"  v-for="item in works">
            <img :src="item.pic" alt="" height="650" style="width:100%; min-width: 300px;border-top-left-radius: 30px;border-top-right-radius: 30px">
            <h4>
                <b>
                    {{ item.company }}
                </b>
            </h4>

            <div>
                <button v-show="!!item.screenShots" class="download-btn" @click="openNewTab(item.screenShots)">
                    Screen Shots
                </button>
                <button v-show="!!item.appLink" class="download-btn" @click="openNewTab(item.appLink)">
                    {{ item.preLink }} Link
                </button>
                <button v-show="!!item.video" class="download-btn" @click="openNewTab(item.video)">
                    Video Link
                </button>
            </div>

            <p>
                <b>
                    Description :
                </b>
                <br>
                {{ item.description }}
            </p>

            <p>
                <b>
                    Technologies & Tools :
                </b>
                <br>
                {{ item.tech }}
            </p>

        </div>
    </div>

</div>