<div class="row" style="margin: 30px">


    <div class="col-md-5 my-image-root">

        <img class="my-image" alt="Avatar" width="290" height="300" src="../../assets/img/me.jpg" >

    </div>

    <div class="col-md-5">

        <div class="row my-summery">
                <span style="color: gray;font-size: 15pt">
                    Full Stack Android & Web Developer
                </span>
        </div>

        <br>

        <div class="row panel-title my-summery">
            <span style="font-size: 25pt">
                <b>
                    Hamid Keyhani Dehnavi
                </b>
            </span>
        </div>

        <br>

        <div class="row panel-title my-summery">
            <p style="font-size: 15pt;text-align: start">
                I'm an Android developer with solid background in development of applications for different industries. I'm passionate about technology, especially Android development, and very excited when I see people like to use something what I did.
            </p>
        </div>

        <br>

        <div class="row my-summery">

            <button style="margin-right: 5px">
                Download CV
            </button>

<!--            <button>-->
<!--                Contact-->
<!--            </button>-->

        </div>

    </div>

</div>