<div class="col-md-6">
    <div class="row title">
        <p>
            <span class="year">
                <b>
                    {{ year }}
                </b>
            </span>

            <span class="company">
                {{ company }}
            </span>
        </p>

        <span class="position">
            <b>
                 {{ position }}
            </b>
        </span>

        <br>

        <p class="description">
             {{ description }}
        </p>

    </div>
</div>