.title {
    text-align: left;
}
p {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.year {
    border-radius: 30px;
    border: 2px solid darkslateblue;
    margin: 0 8px;
    padding: 3px 10px;
    font-size: 10pt;
}
.company {
    padding: 5px 5px;
}
.position {
    padding: 0 5px;
    margin-left: 30px;
    font-size: 16pt;
}
@media only screen and (max-width: 600px) {
    /* For mobile phones: */
    .position {
        margin-left: 5px;
    }
    .year {
        white-space: nowrap;
        margin-left: 5px;
    }
    .company {
        white-space: nowrap;
    }
}
