<div class="my-panel">
    <div class="row">

        <div style="text-align: left">
            <h1 class="my-title">
                Experience
            </h1>
        </div>

        <div class="col-md-12">

            <ex-edu-item
                    :year="experiences[0].year"
                    :company="experiences[0].company"
                    :position="experiences[0].position"
                    style="margin-top: 50px">
            </ex-edu-item>

            <br>

            <p class="description">
                We are a team of four creative and motivated people. At ASA we have a lot of ideas about IOT products and we are working on some of these ideas. we work on related technologies about IOT.
                <br><br>
                I worked on our android app and coach the team. Sometimes I am a listener and I used the experience of my teammate and I lean from them.
                <br><br>
                Challenges & Activities:
                <br>
                <ul>
                    <li>
                        I manage directly IOS & Web development projects and sometimes I help in logic of code and share my experience to them.
                    </li>
                    <li>
                        we hold Brainstorm session about our new ideas
                    </li>
                        ..
                </ul>

                Technologies:

                <ul>
                    <li>
                        MVVM architecture
                    </li>
                    <li>
                        RxJava & RxAndroid
                    </li>
                    <li>
                        Kotlin
                    </li>
                    <li>
                        Socket (UDP & TCP)
                    </li>
                    <li>
                        Bluetooth API
                    </li>
                </ul>
                </ul>
            </p>
        </div>

        <div class="col-md-12">

            <ex-edu-item
                    :year="experiences[1].year"
                    :company="experiences[1].company"
                    :position="experiences[1].position"
                    style="margin-top: 50px">
            </ex-edu-item>

            <br>

            <p class="description">
                At Fava, I worked as Full Stack Engineer. I worked on several projects and improve existing company projects.
                <br><br>
                The technical works I did there & challenges to me:
                <br><br>
                <ul>
                    <li>
                        Management as team lead of software development
                    </li>
                    <li>
                        I held VueJs course for interested people in web developer team
                    </li>
                    <li>
                        I held git course for interested and new people of technical team
                    </li>
                    <li>
                        I Report huge Bug on SMS panel of company and I Fix that (invisible google reCAPTCHA needed)
                    </li>
                    <li>
                        I refactor existing android app (My semnan) and fix several bug and improve the code
                    </li>
                </ul>

                <ul>
                    <li>
                        Semnan Tourism (a tourism android app for semnan province)
                    </li>
                    <li>
                        My semnan (a comprehensive android app for the people of semnan province)
                    </li>
                    <li>
                        Radio Shahr (a podcast service that provides news and musics to the people)
                    </li>
                        ..
                </ul>
            </p>
        </div>

        <div class="col-md-12">

            <ex-edu-item
                    :year="experiences[2].year"
                    :company="experiences[2].company"
                    :position="experiences[2].position"
                    style="margin-top: 50px">
            </ex-edu-item>

            <br>

            <p class="description">
                I held tow courses there:
                <br>
                <br>
                <ul>
                    <li>
                        Basic Android programming
                    </li>
                    <li>
                        Advance Android programming
                    </li>
                </ul>

                </p>
        </div>

        <div class="col-md-12">

            <ex-edu-item
                    :year="experiences[3].year"
                    :company="experiences[3].company"
                    :position="experiences[3].position"
                    style="margin-top: 50px">
            </ex-edu-item>

            <br>

            <p class="description">
                At Iranian credit card (iccard), I worked on Iccard android app for six months as an android developer. During these six months, I had many challenges:
                <br>
                <br>
                <ul>
                    <li>
                        I had experience working with the volley library, My first challenge was learning Retrofit & Gson library.
                    </li>
                    <li>
                        Migration from MVP to MVVM architecture
                    </li>
                    <li>
                        work with constraint layout library
                    </li>
                    <li>
                        Migration from java to kotlin
                    </li>
                    <li>
                        Experience working with RxJava and reactive programming
                    </li>
                        ..
                </ul>

                In the second half, I was as a full stack developer.
                The technologies that i used during this time:
                <br>
                <br>
                <ul>
                    <li>
                        VueJs 2 & ES6
                    </li>
                    <li>
                        PHP (medoo) & MySQLi
                    </li>
                    <li>
                        One project with Node.js & TypeScript & MongoDB (mongoose)
                    </li>
                </ul>
                Challenges during this time:
                <br>
                <br>
                <ul>
                    <li>
                        Experience working with Promise class
                    </li>
                    <li>
                        Experience close teamwork with large Financial technology companies such as Asan Pardakht Persian and  Parsian E-Commerce and Shaparak (Banking Web Services)
                    </li>
                    <li>
                        i had to work with SOAP web services
                    </li>
                        ..
                </ul>

                The projects i worked on them during this time:
                <br>
                <br>

                <ul>
                    <li>
                        Merchants(a web page for show and filter merchants of company)
                    </li>
                    <li>
                        Bimeh (a service for buying elevator insurance online)
                    </li>
                    <li>
                        SMS (company SMS panel)
                    </li>
                    <li>
                        MRS (a service for merchants of company for registering card reader or online payment gateway)
                    </li>
                </ul>

            </p>
        </div>

        <div class="col-md-12">

            <ex-edu-item
                    :year="experiences[4].year"
                    :company="experiences[4].company"
                    :position="experiences[4].position"
                    style="margin-top: 50px">
            </ex-edu-item>

            <br>

            <p class="description">
                I worked on  android components and important context in android such as fragments, Recycler view, Android Animations, SQLite, MVP Architecture, ,,

                <br>
                <br>

                I Worked on several projects during this time:

                <br>
                <br>

                <ul>
                    <li>
                        Online Food Order (an android app for online order from nearest restaurants order by city selected)
                    </li>
                    <li>
                        Online Store (an android app for buy online shoe from a shoe store sync with WordPress DB)
                    </li>
                    <li>
                        Ears (an android app for play some music and videos from the server)
                    </li>
                        ..
                </ul>

                Technologies & Challenges:

                <br>
                <br>

                <ul>
                    <li>
                        Migration from Eclipse to Android Studio
                    </li>
                    <li>
                        I worked directly with end user and customer
                    </li>
                    <li>
                        I reviewed large projects and tried to implement their features
                    </li>
                    <li>
                        All of my projects have Single-Activity Architecture
                    </li>
                    <li>
                        Work with media player to play sounds & videos was a fascinating experience for me
                    </li>
                    <li>
                        I worked with Broadcast Receiver for receive new SMS with Special phone number and save to
                    </li>
                    <li>
                        SQLite DB and show them in a list
                    </li>
                        ..
                </ul>

            </p>
        </div>

        <div class="col-md-12">

            <ex-edu-item
                    :year="experiences[5].year"
                    :company="experiences[5].company"
                    :position="experiences[5].position"
                    style="margin-top: 50px">
            </ex-edu-item>

            <br>

            <p class="description">
                Basic4Android (Hybrid)
                <br>
                <br>
                I had an idea, I researched how to implement it and programming world greeted me and changed me :)
                <br>
                <br>
                I tried hard to learn develop an android app with B4A and I gradually learned new things and new technologies about programming, PC, Android, ..
            </p>
        </div>

            <div style="text-align: left">
                <h1 class="my-title">
                    Education
                </h1>
            </div>

            <div class="col-md-12">

                <ex-edu-item
                        :year="experiences[6].year"
                        :company="experiences[6].company"
                        :position="experiences[6].position"
                        style="margin-top: 50px">
                </ex-edu-item>

                <br>

                <p class="description">
                    I finished high school in the experimental field but programming changed my mind and finally, I found the field I love it. I participated in the math entrance exam and entered the computer science field.
                </p>
            </div>

        </div>

</div>