.my-panel{
    margin: 20px;
}
.description {
    text-align: start;
    padding: 5px 5px;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 15pt;
}
.my-title {
    text-align: left;
    display: inline-block;
    text-decoration: none;
    background-image: linear-gradient(to right, #111dff, #a900a9);
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 50% 2px;
    transition: background-size .5s ease;
    margin-left: 30px;

}
.my-title:hover {
    background-size: 100% 2px;
}